.ui.inverted.borderless.topmenu.menu{
  padding: 8px;
  background: black;
  color: white;
  border-radius: 0;
}

.ui.borderless.middlemenu.menu{
  box-shadow: none;
  border: none;
}

.ui.fluid.image{
  padding: 30px;
  max-width: 1340px;
}

hr{
  margin-left: 30px;
  margin-right: 30px;
}
.footer{
  padding-top: 30px;
}